################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ch15/MyFirstPackage/.vs/MyFirstPackage
/ch15/MyFirstPackage/MyFirstPackage/bin/Debug
/ch15/MyFirstPackage/MyFirstPackage/obj
/ch04/MemoryUsage/.vs/MemoryUsage
/ch04/MemoryUsage/MemoryUsage/bin/Debug/net8.0
/ch04/MemoryUsage/MemoryUsage/obj/Debug/net8.0
/ch04/MemoryUsage/MemoryUsage/obj
/ch05/MauiDemo/.vs/MauiDemo
/ch05/MauiDemo/MauiDemo/bin/Debug
/ch05/MauiDemo/MauiDemo/obj
/ch04/ProfilerDemo/.vs
/ch04/ProfilerDemo/Database/bin
/ch04/ProfilerDemo/Database/obj
/ch04/ProfilerDemo/DemoCPU/bin
/ch04/ProfilerDemo/DemoCPU/obj
/ch04/ProfilerDemo/MemoryLeak/bin
/ch04/ProfilerDemo/MemoryLeak/obj
/ch13/DummyArchSolution/.vs
/ch13/DummyArchSolution/DummyArchSolution/Application/obj
/ch13/DummyArchSolution/DummyArchSolution/Models/obj
/ch13/DummyArchSolution/DummyArchSolution/Web/obj
/ch06/WebForm/.vs/WebForm
/ch06/WebForm/bin
/ch06/WebForm/obj/Debug
/ch06/CarApi/bin/Debug/net8.0
/ch06/CarApi/obj
/ch06/CarApi/.vs/CarApi/FileContentIndex
/ch06/CarApi/.vs
/ch07/MachineLearning/.vs
/ch07/MachineLearning/MachineLearning/bin/Debug/net8.0
/ch07/MachineLearning/MachineLearning/obj
/ch07/MachineLearning/SampleML_WebApi/bin/Debug/net6.0
/ch07/MachineLearning/SampleML_WebApi/obj
/ch08/SampleAspireApp/.vs/SampleAspireApp
/ch08/SampleAspireApp/SampleAspireApp.ApiService/bin/Debug/net8.0
/ch08/SampleAspireApp/SampleAspireApp.ApiService/obj
/ch08/SampleAspireApp/SampleAspireApp.AppHost/bin/Debug/net8.0
/ch08/SampleAspireApp/SampleAspireApp.AppHost/obj
/ch08/SampleAspireApp/SampleAspireApp.ServiceDefaults/bin/Debug/net8.0
/ch08/SampleAspireApp/SampleAspireApp.ServiceDefaults/obj
/ch08/SampleAspireApp/SampleAspireApp.Web/bin/Debug/net8.0
/ch08/SampleAspireApp/SampleAspireApp.Web/obj